*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    
    background: #3f3f3f;
    line-height: inherit;
}

header {
    font-size: 1.2em;
    text-transform: uppercase;
    height: 200px;
    
    background-color: #69acdd;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 1s;
}

header .text h1 {
    font-size: 2.25em;
}

header .text h1,
header .text p,
.container,
.container p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background: #fff;
    
    font-weight: bold;
    color: #69acdd;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start-game,
#easy,
#hard {
    cursor: pointer;
    padding: 5px 2px;
}

#easy {
    margin-right: 10px;
}

.active {
    background: #69acdd;
    color: #fff;
}

.game {
    margin: 25px auto;
}

.group {
    display: flex;
    justify-content: center;
}

.choice {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    
    margin: 10px;
    background: #fff;
    
    /* the "fade" effect is difficult to do with just CSS and JS */
    transition: background 2s;
}

.invisible {
    visibility: hidden;
}

@media (min-width: 660px) {
    .choice {
        width: 150px;
        height: 150px;
    }
}